/*Variables */

$colors: (
    white: #FEFEFE,
    brown: #362100
);

.corpo{
    background-color: ECF0F1;
}

.h1{
    margin: 0 auto;
    display: flexbox;
    justify-content: center;
    align-items: center; 
}

.navbar{
    background-color: #1b1526;
}

header,footer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b1526;
    color: #ffffff;
    box-sizing: border-box;
}

/* Estilos padrão para a navegação */
.navbar-nav {
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
}

/* Media query para dispositivos com largura menor que 768px (por exemplo, smartphones) */
@media screen and (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
    .navbar-collapse {
        margin-top: 10px;
    }
}

body {
    color: map-get(colors, white);
    font: 100 100%/1.6 "Hebbo", sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.visually-hidden {
    clip: rect(0,0,0,0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

hr.sections {
    border-radius: 5px;
    display: block;
    margin-top: 0.5em black;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
/* 
.card {
    backdrop-filter: blur(10px);
    background: rgba(map-get($colors, white), 0,075);
    border: 1px solid rgba(map-get($colors, white), 0.18);
    border-radius: 15px;
    box-shadow: 0 10px 35px 0 rgba(map-get($colors, brown), 0.65);
} */
